body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "IBMPlexSansThai";
  src: url("assets/fonts/IBMPlexSansThai-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.bg {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/images/result-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: "50px";
  min-height: 100vh;
}
